 
 
 {% extends "layout.njk" %}

 {% block head %}
  
 {% endblock %}

 {% block content %}
  <div id="wrapper">
    <img src="https://avatars2.githubusercontent.com/u/52587920?s=460&u=194ef191f052c8efd7af4c63f68aab7b0af03805&v=4" alt="SandroVingla">
    <h1>Sandro Vingla</h1>
    <h2>instrutor</h2>
    <p>Músico, pianista, apaixonado por música, focado em ensinar alunos iniciantes a aprender piano clássico <a href="https://souzalima.com.br/" target="_blank">Souza Lima</a></p>
  
  </div>
  <div id="footer" class="links">
    <a href="https://github.com/SandroVingla" target="_blank">Github</a>
    <a href="https://twitter.com/sandro20146505" target="_blank">Twiter</a>
    <a href="https://www.linkedin.com/in/alexsandro-vingla-465063147/" target="_blank">Linkedin</a>
  </div>
  <script src="script.js"></script>
 {% endblock %}