<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon (1).ico" type="image/x-icon">
  <title>Conservatório</title>

  {% block head %}
  
  {% endblock %}
  
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header>
    <div class="links">
      <a href="/">Sobre</a>
      <a href="/portifolio">Aulas</a>
    </div>
  </header>
   {% block content %}

   {% endblock %}
  <script src="script.js"></script>
</body>
</html>