 {% extends "layout.njk" %}

 {% block head %}
 <title>portifolio</title>
 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

  {% endblock %}

 {% block content %}


  <div id="wrapper">
    <h1>Aulas</h1>
  </div>
  <section class="cards">
    <div class="card" id="LVy_HUotJbU">
      <div class="card_images_container">
        <img src="https://img.youtube.com/vi/LVy_HUotJbU/maxresdefault.jpg" alt="video_aula">
      </div>
  
      <div class="card_content">
        <p>piano fundamentos do Jazz iniciantes | Milo Andreo</p>
      </div>
      <div class="card_info">
        <p>8 min</p>
        <p class="card_prince">Free</p>
  
      </div>  
    </div>

    <div class="card" id="01WktcvsUYM">
      <div class="card_images_container">
        <img src="https://img.youtube.com/vi/01WktcvsUYM/maxresdefault.jpg" alt="Video Aula">
      </div>
  
      <div class="card_content">
        <p>Descubra 5 LICKS DE BLUES no Piano | Daniel pinto</p>
      </div>
      <div class="card_info">
        <p>17 min</p>
        <p class="card_prince">Free</p>
  
      </div>  
    </div>

    <div class="card" id="omSstKgUbTw">
      <div class="card_images_container">
        <img src="https://img.youtube.com/vi/omSstKgUbTw/maxresdefault.jpg" alt="Video Aula">
      </div>
  
      <div class="card_content">
        <p>Como tocar piano estilo Rock'n'Roll | Milo Andreo</p>
      </div>
      <div class="card_info">
        <p>7 min</p>
        <p class="card_prince">Free</p>
  
      </div>  
    </div>

    <div class="card" id="m4Bc2w6w5Uw">
      <div class="card_images_container">
        <img src="https://img.youtube.com/vi/m4Bc2w6w5Uw/maxresdefault.jpg" alt="Video Aula">
      </div>
  
      <div class="card_content">
        <p>Primeiros passos no PIANO ERUDITO! MusicDot | Isabel Candi</p>
      </div>
      <div class="card_info">
        <p>19 min</p>
        <p class="card_prince">Free</p>
  
      </div>  
    </div>

    <div class="card" id="l0CDLxfZoAI">
      <div class="card_images_container">
        <img src="https://img.youtube.com/vi/l0CDLxfZoAI/maxresdefault.jpg" alt="Video Aula">

      </div>
  
      <div class="card_content">
        <p>Aprenda 3 exercícios de técnica do Jordan Rudess (Dream Theater) | Milo Andreo</p>
      </div>
      <div class="card_info">
        <p>8 min</p>
        <p class="card_prince">Free</p>
  
      </div>  
    </div>

    <div class="card" id="rAbHRScNrZA">
      <div class="card_images_container">
        <img src="https://img.youtube.com/vi/rAbHRScNrZA/maxresdefault.jpg" alt="Video Aula">
      </div>
  
      <div class="card_content">
        <p>Do zero a tocar na igreja em 3 meses // Teclado 10x | Leo Carvalho</p>
      </div>
      <div class="card_info">
        <p>120 min</p>
        <p class="card_prince">Free</p>
  
      </div>  
    </div>
  </section>

  <div class="modal_ovelay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>
      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
{% endblock %}